#header{

}

#footer{

}

.body_style{
	margin-right: 80px;
	margin-left: 80px;
	background-color: ;
}
.horizanal_navigation{
	color: black;
	background-color: #9cf;
	border-top: 1px solid #c0ffff;
	border-right: 1px solid #00f;
	border-bottom: 1px solid #00f;
	border-left: 1px solid #c0ffff;
	width: 160px;
	margin: .5px;
	text-align: center;;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	display: block;
}
.vertical_navigation{
	display: block;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #47c9ff;
	width: 195px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	margin-bottom: 5px;
}
#home_section {
    width:350px;
    clear: both;
    padding:5px;
    min-height: 115px;
}
footer{
    display: block;
}
footer {
    width: 100%;
    z-index:20;
    background-image:url("../images/footer.png"); 
	background-size: 1350px 350px;
	background-repeat: no-repeat;
    display: block;
    border-radius: 0 0 10px 10px;
    margin-bottom: 10px;
}
footer .foot{
	margin-left: 10px;
	margin-right: 10px;
	/*margin-top:650px;*/
}
footer .media {
	text-align: left;
	margin-left: 80%;
    //padding: 0.75em 65em;


}
h3 {
	font-family: AmerType Md BT;
	font-size: 18px;
	color: #3c1111;
	font-weight: 40;
	padding: 0.1em 0;
}
footer .contact{
	color: #321111;
}
p[id=privacy]{
	padding-top: 10px;
    color: #029;
    text-align:center;
    font-size: 17px;
}
a[id=a-privacy]{
	font-size: 18px;
	color: #4a2121;
	text-decoration: none;
}
a:hover{
	color: #029;
	text-decoration: underline;
}
table{
	font-size: 16px;
	//padding: 0 10px 0 0;
	color: #04065c;
}

th[id="kosgama"],td[id="kosgama"]{
	text-align: left;
}

th[id="peradeni"],td[id="peradeni"]{
	text-align: center;
}

th[id="anuradha"],td[id="anuradha"]{
	text-align: right;
}


