
.Nav-left ul {
    list-style-type: none;
    margin: 0;
    padding: 5px ;
    overflow: hidden;
	margin-left: 0px;
	margin-bottom:50px;
	border-radius:5px;
    margin-right:0px;
	margin-bottom:0px;
}
/*
li {
    float: left;
}
*/
.Nav-left a:link, a:visited {
    display: block;
    width: 230px;
	font-size:18px;
    font-weight: 300px;
    color: #0000D9;
    background-color: #F6F6F6;
    text-align: left;
    padding: 6px;
    text-decoration: none;
    text-transform: none;	
}

.Nav-left a:hover, a:active {
    background-color: #73DCFF;
}
