 #menu {
    list-style:none;

/*you can change top and navigation bar gap*/

   width:1000px;
    margin:0px auto;
    z-index: 20;

}
 /*dont change, navigation bar will totally change */
/* change navigation button apprience*/ 
#menu li a {
    text-decoration:none;
    display:block;
    outline:0;
  /*  text-shadow: 1px 1px 1px #000;*/
  /*  font-family:Arial, Helvetica, sans-serif;  
    color: #EEEEEE;
    
    */
}
 
/* Drop Down */
 
.dropdown_1column, 
.dropdown_2columns, 
.dropdown_3columns, 
.dropdown_4columns,
.dropdown_5columns {

    margin:0x auto;
    float:left;
    position:absolute;
    left:-1005em; /* Hides the drop down */
    text-align:left;
    padding:5px 3px 2px 2px;  /*change h2 to  top, botom, left ,right*/
    border:0px solid #777777;
    border-top:none;
     
    /* Gradient background */
    background:#F6F6F6; /*navigation bar ake heading title ake background colors */
    /*background: -moz-linear-gradient(top, #EEEEEE, #BBBBBB);
    background: -webkit-gradient(linear, 0% 0%, 0% ,100%, from(#EEEEEE), to(#BBBBBB)); */ 
	
}
 /*  change drop down list size (to right side)  */
.dropdown_1column {width: 140px;}
.dropdown_2columns {width: 280px;}
.dropdown_3columns {width: 380px;}
.dropdown_4columns {width: 330px;}
.dropdown_5columns {width: 700px;}
 
#menu li:hover .dropdown_1column, 
#menu li:hover .dropdown_2columns, 
#menu li:hover .dropdown_3columns,
#menu li:hover .dropdown_4columns,
#menu li:hover .dropdown_5columns {
    left:0px;    /* you can change the manu tab and dropdown tab gap*/
    top:auto;
}
 
/* Columns */
 
.col_1,
.col_2,
.col_3,
.col_4,
.col_5 {
  display:inline;
    float: left;
    position: relative;
    margin-left: 10px;  /*change h2 topic to left */
    margin-right: 1px;
    z-index: 20;
	
}

/* change topic underline  width*/
///////////////////////////////////////////////////////////////////////////////////////////////////
.col_1 {width:130px;}
.col_2 {width:270px;}
.col_3 {width:260px;}
.col_4 {width:310px;}
.col_5 {width:690px;}
 
/* Right alignment */
 
#menu li:hover .align_right {
    left:auto;
    right:-1px;
    top:auto;
}
 
/* Drop Down Content Stylings */
 
#menu p, #menu h2, #menu h3, #menu ul li {

    font-family:Arial, Helvetica, sans-serif;
    line-height:20px;   /*change sub manu button size*/
    font-size:20px;   /*change navigation bar font size*/
    text-align:left;
    text-shadow: 1px 1px 1px #FFFFFF;
}
#menu h2 {
	font-family: "BenguiatGot Bk BT", Times, h2;  /*Times New Roman */
    font-size:20px;
    font-weight:300;
    letter-spacing:-1px;
    margin:10px 0 5px 0;
    padding-bottom:-6px;
    border-bottom:1px solid #666666;
	 color:  #00B200;
}
#menu h3 {
    font-size:14px;
    margin:7px 0 14px 0;
    padding-bottom:7px;
    border-bottom:1px solid #888888;
}
#menu p {
    line-height:180px;
    margin:0 0 1000px 0;
}


#menu li:hover div a {
    font-size:17px;  /*navigation bar ake sub menu ake font size2*/
    color:#646473;   /*navigation bar ake sub menu ake font color*/
}
#menu li:hover div a:hover {
    color:#0000D9;  /*navigation bar ake sub menu ake hide 2 nd font color*/
}
.strong {
    font-weight:300px;
}
.italic {
    font-style:italic;
}
 
.img_left { /* Image sticks to the left */
    width:auto;
    float:left;
    margin:2px 5px 2px 2px;
    z-index: 20;
}
 
 /*  change the sub manu formats*/
 ////////////////////////////////////////////////////////////////
#menu li ul li {
    font-size:15px;
    line-height:26px;
    position:relative;
    text-shadow: 1px 1px 1px #ffffff;
    padding:10;
    margin:10;
    float:none;
    text-align:center;  /* left  */
    width:255px;
    z-index: 20;
}
#menu li ul li:hover {
    background:none;
    border:none;
    padding:0;
    margin:0;
    z-index: 20;
}
 
 
 